<!-- index.htmlの場所を移動すると、npm run devで呼び出されるパスが変化してしまうため注意！！ -->

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>P5.js演習用ブラウザ</title>
  <!-- Parcelのv2系ではスクリプトの読み込みにtype="module"の指定が必要です -->
  <!-- 新たなtsファイルを読み込む度に.parcel-cacheを消してbuildしなおす必要あり -->
  <!-- 動作確認済み -->
  <script src="../src/drawLineGame.ts" type="module">Linegameの描画</script>

  <script src="../src/drawBall.ts" type="module">ballの描画</script>
  <script src="../src/drawUniqueBrush.ts" type="module">特殊ブラシの描画</script>
  <script src="../src/drawLineReflect.ts" type="module">線の反射</script>
  <script src="../src/drawLineWASD.ts" type="module">キーストロークに応じて線の進路変更</script>
  <script src="../src/drawRipples.ts" type="module">クリックに応じて波紋の描画</script>
  <script src="../src/drawFibonacci.ts" type="module">フィボナッチ数の描画</script>
  <script src="../src/drawRandomDot.ts" type="module">ランダム点の描画</script>
  <script src="../src/drawSinWave.ts" type="module">sin波の描画</script>
  <script src="../src/drawSinCosWave.ts" type="module">sincos波の描画</script>
  <script src="../src/drawLine.ts" type="module">線の描画</script>
  <script src="../src/drawLineWide.ts" type="module">線の描画-広域</script>
  <script src="../src/drawRandomColor.ts" type="module">ランダムカラーの描画</script>
  <script src="../src/drawTemplate.ts" type="module">テンプレートの描画</script>
  <script src="../src/drawCirle.ts" type="module">円状に描画</script>
  <script src="../src/drawBubble.ts" type="module">泡を描画</script>

  <script src="../src/drawLoading.js">loading画面を描画</script> 
</head>

<body>
  <h1>p5.jsの演習用ブラウザ</h1>
  以下のサイトを参考にしています。<br>
  <a href="https://ics.media/entry/210129/" target="_blank">VS Code & TypeScriptとp5.jsで始めるモダンなクリエイティブコーディング入門</a>
</body>

</html>